.top-bar-section ul, .top-bar-section, .title-area{
    background: none;
}

.top-bar{
    background: none;
}

.top-bar-section ul{
    padding: 0px;
}

.top-bar-section li a:not(.button) {
    background: none;
    border-bottom: 2px solid transparent;
    transition: All 0.4s ease-in-out;
}

.top-bar-section li a:not(.button):hover,.top-bar-section ul li>.active{
    background: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
    border-bottom: 2px solid #ffffff;
}
.bg-light-rose{
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

.social,.social-footer{
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    list-style: none outside;
}
.social li,.social-footer li{
    display:inline-block;
    line-height: 18px;
    margin:10px;
    text-align: -webkit-match-parent;

}
.social li>a, .social-footer li>a{
    transition: All 0.3s ease-in-out;
}
.social li>a:hover{
    color: #FFEA97;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.31);
}
.social-footer li>a:hover{
    color: #c84c40;
}

#messages li.msg{
    background: #ef4e4e;
    height: 200px;
    color: #fff;
}

#messages li.msg blockquote{
    font-size: 1.4em;
    font-weight: 100;
    color: #fff;
    margin-top: 1.7em;
}

#messages li.msg p{
    font-size: 1em;
    font-weight: 400;
}

.about-box{
    background: linear-gradient(rgba(25,16,41,0.8),rgba(98,96,120,0.8)),
    url("../img/bg-1.jpg") no-repeat center center fixed;
    background-size: 100%;
}

.about-box *, .about-box .section-title h2 {
    color: #ffffff;
    border-color: #ffffff;
}

.about-box a:hover{
    color: #cccccc;
}

.about-box .button{
    background: rgba(25,16,41,0.8);
    transition: All 0.4s ease-in-out;
}
.about-box .button:hover{
    background: rgba(52, 30, 82, 0.94);
}

.contatcs{
    list-style: none;
    margin: 20px 0;
}
.contatcs li{
    margin-bottom: 5px;
}
.contatcs li i{
    float: left;
    margin-right: 10px;
}

#resume .res-item{
    margin-bottom: 0.5em;
    padding: 0px 15px 15px 15px;
}

#skills .button{
    background: #666;
}
#skills .button:hover{
    background: #888;
}
.project-item img{
    border-radius: 4px
}
.project-item:hover .project-tease {
    opacity: 0.9;
    background: #000;
    border-radius: 4px;
}
.project-tease-content {
    margin-top: -20px;
    font-size: 0.9em;
}

@media only screen and (max-width: 40em) {
    .top-bar-section ul, .top-bar-section, .title-area, .top-ba, .top-bar.expanded .title-area {
        background: none;
    }
    .top-bar-section li a:not(.button):hover, .top-bar-section ul li>.active{
        background: rgba(0, 0, 0, 0.66);
        text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
        border-bottom: none;
    }
    .hero-headline h1, .hero-headline h1 a {
        font-size: 3.3em;
    }
    .hero-header {
        padding: 50px 0 0;
    }
    .about-box, .bg-light-rose{
        background-size: auto;
        background-position: 0 0;
    }
}
