{% set BlogMode = true %}
{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
<br>
<article >
    <header>
        <h1>{{ article.title }}</h1>
        <h3>{{ article.summary }}</h3>

        <div class="post-info">Posted on {{ article.locale_date }}</div>

        {% if article.headerimage %}
        <figure class="headerimage-article">
            <img src="{{ article.headerimage }}">
            {% if article.headerimagecaption %}
            <p class="caption">{{ article.headerimagecaption }}</p>
            {% endif %}
        </figure>
        {% endif %}
    </header>

    <main>
      {{article.content}}
    </main>

    <footer>
        {% if article.tags %}
        <ul class="tags">
            {% for tag in article.tags %}
             <li><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}


        <figure class="author-bio">
            <div class="profile-image">
                <!-- <img src="/authors/{{ article.author.page_name[7:] }}.png" onerror="this.src='/theme/images/avatar.png'"></img> -->
                <img src="/theme/images/avatar.png" onerror="this.src='/theme/images/avatar.png'"></img>
            </div>

            <figcaption>
                <h3><a href="{{ SITEURL }}/authors.html#{{ article.author.page_name[7:] }}"> {{ article.author }} </a></h3>
                <ul>
                    <li><a href="#"> <i class="fab fa-github"></i> </a></li>
                    <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                    <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                    <li><a href="#"> <i class="fab fa-linkedin"></i> </a></li>
                </ul>
                <hr/>
                <p>{% if article.author==AUTHOR %}{{ AUTHOR_DESCRIPTION }}{% endif %}</p>
            </figcaption>
        </figure>

    </footer>

</article>

{% endblock %}
