{% set BlogMode = true %}
{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
<section id="main" class="wrapper">
	<article class="inner">
		<h1 class="major">{{ article.title }}</h1>
		<!-- <span class="image fit"><img src="{{ SITEURL }}/theme/images/pic04.jpg" alt="" /></span> -->
            <div class="entry-content blog-post">
                {{ article.content }}
            </div>
            <div class="post_list">
                <span>By </span>
                <a href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a>
                <span> in </span>
                <span class="post_category"><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark"
                                               title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a></span>
                <span class="post_date">{{ article.locale_date }}</span>
                <div><span>Tags : </span>
                    {% if article.tags %}
                        {% for tag in article.tags %}
                            <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}, </a></span>
                        {% endfor %}
                    {% endif %}
                </div>
	</article>
</section>
{% endblock %}