@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,500');

html, body{
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.style1-alt{
    background: #efefef;
    text-align: center;
}

article {
    background: #fff;
    /* margin-top: 2.5rem; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
}

article > * {
    grid-column: 4;
    min-width: 0;
}

article > header {
    max-width: 100%;
    grid-column: 2/-2;
}

.headerimage-article{
    width: 100%;
    grid-column: 2/-2;
    margin: 2em 0;
    text-align: center;
}

.headerimage-article img{
    margin: 0 auto;
    width: 100%;
}

header h1 {
    font-family: 'Lora', serif;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

header h3{
    margin-top: -1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

header .post-info{
    margin-top: -.5rem;
    margin-bottom: 2rem;
    color: #a7a5a5;
    text-align: center;
    font-size: 0.9em;
}

header p {
    color: rgba(6, 6, 6, 0.52);
    position: relative;
    margin: 1em 1em 1em 1em;
}

article > main {
    max-width: 740px;
    word-wrap: break-word;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    /* font-family: Georgia,Cambria,"Times New Roman",Times,serif; */
    font-family: 'Lora', serif;
    letter-spacing: .01rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-align: justify;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

article > main::first-letter{
    float:left;
    font-size:500%;
    vertical-align: top;
    margin-top: -.35em;
    margin-right:0.15em;
    color:#953d75;
}

article > main::first-line{
    font-size: 1.25em;
}

main >  figure {
    grid-column: 1 / -1;
    margin: 20px 0;
    margin: 0;
}

main > .aside {
    grid-column: 5 / -1;
    font-family: Lucida Grande;
    margin: 30px 20px;
    color: #666;
    font-size: 0.8em;
}

main > blockquote {
    margin: 1rem auto;
    color: #504b5d;
    border-left: 3px solid #3c2c62;
    padding-left: 2em;
    margin-left: 2em;
    font-size: 0.9em;
}

main > img {
    width: 100%;
}

main > .line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

main code {
    background: rgba(82, 80, 80, 0.05);;
    padding: 2px 5px;
}

main pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
    border-radius: 5px;
}

main pre > code {
    padding: 0;
}

main > p > img {
    width: 100%;
    margin: 0 auto;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 95%;
    border-collapse: collapse;
    margin: 1em auto;
    font-size: 0.8em;
}

table th{
    font-weight: bold;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #b74e91;
}

td{
    color: #504b5d;
    border-top: 1px solid #e8edff;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #938ba7;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0px 23px;
    position: relative;
    margin:10px auto;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size: 0.85em;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #953d75;
    color: white;
}

.tag:hover::after {
    border-left-color: #953d75;
}

.author-bio {
    font-family: 'Yantramanav', Arial, sans-serif;
    position: relative;
    float: left;
    margin: 2rem 0;
    width: 100%;
    color: #222;
    font-weight:300;
    text-align: left;
    line-height: 1.6em;
    font-size: 0.68em;
    box-shadow: none !important;
}

.author-bio .profile-image {
    float: left;
    width: 60px;
    height: 60px;
}

.author-bio .profile-image img {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    vertical-align: top;
}

.author-bio .profile-image, .author-bio figcaption {
    float: left;
}

.author-bio figcaption {
    width: calc(100% - 90px);
    float: right;
    background-color: #ededed;
    color: #222;
    padding: 1.5em;
    display: inline-block;
    border-radius: 5px;
}
.author-bio figcaption:after {
    content: '';
    position: absolute;
    left: 76px;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ededed transparent transparent;
}
.author-bio h3 {
    padding: 0.3em;
  font-weight: 800;
  font-size: 1.5em;
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}


.author-bio p {
    margin: 1.5em auto;
    padding: 0.5em;
    font-size: 1.5em;
    letter-spacing: 1px;
    opacity: 0.9;
}

.author-bio hr{
    border-bottom: solid 1px rgba(2, 2, 2, 0.15);
    margin: 0.5em;
}

.author-bio ul{
    margin: 0.2em 0em 0em -1em;
}
.author-bio ul li{
    display: inline-block;
    margin: 0 0.1em;
}
.author-bio ul li a{
    font-size: 1.5em;
    color: rgba(102, 106, 117, 0.75);
}
.author-bio ul li a:hover{
    color: #5e42a6;
}



@media only screen and (max-width: 1024px){

    article {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 5% 85% 5% 1fr;
    }

    header h1 {
        font-size: 3.5em;
    }

    header h3 {
        margin-top: -1em;
        font-size: 1.5em;
    }

    article > * {
        grid-column: 3;
        min-width: 0;
    }
    article > main {
        max-width: 100%;
    }

    article > header, .headerimage-article {
        grid-column: 1/-1;
    }

}
